# Metin Madenciliği ve Doğal Dil İşleme Giriş

# Metin Ön İşleme

In [73]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

# string'i df/array/seriye çevirmek

In [74]:
metin.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [75]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [76]:
v_metin = metin.split("\n")

In [77]:
import pandas as pd

In [78]:
v = pd.Series(v_metin)

In [79]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [80]:
metin_vektoru = v[1:len(v)]

In [81]:
metin_vektoru

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [82]:
mdf = pd.DataFrame(metin_vektörü, columns = ["hikayeler"])

In [83]:
mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

# Büyük-Küçük Harf

In [84]:
d_mdf = mdf.copy()

In [85]:
d_mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [86]:
list1 = [1,2,3]

In [87]:
str1 = " ".join(str(i) for i in list1)

In [88]:
str1

'1 2 3'

In [89]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower() for x in  x.split()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [90]:
d_mdf = d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower() for x in  x.split()))

In [91]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

# Noktalama İşaretlerinin Silinmesi

In [92]:
d_mdf.str.replace("[^\w\s]","")

C:\Users\90538\AppData\Local\Temp\ipykernel_13212\3981873189.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_mdf.str.replace("[^\w\s]","")

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

# Sayıların Silinmesi

In [93]:
d_mdf = d_mdf.str.replace("\d","")

C:\Users\90538\AppData\Local\Temp\ipykernel_13212\3496927671.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_mdf = d_mdf.str.replace("\d","")

# Stopwordslerin Silinmesi

In [94]:
#Sık kullanılan kelimeler için kullanılır

In [95]:
d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [96]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\90538\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: tqdm in c:\users\90538\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in c:\users\90538\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in c:\users\90538\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\90538\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: colorama in c:\users\90538\anaconda3\lib\site-packages (from click->nltk) (0.4.5)

In [97]:
import nltk

In [98]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\90538\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [99]:
from nltk.corpus import stopwords

In [100]:
sw = stopwords.words("english")

In [102]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [104]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

1               scandal bohemia!
2             red-headed league,
3                 case, identity
4        boscombe valley mystery
5               five orange pips
6          man with? twisted lip
7       adventure blue carbuncle
8        adventure speckled band
9     adventure engineer's thumb
10      adventure noble bachelor
11       adventure beryl coronet
12      adventure copper beeches
Name: hikayeler, dtype: object

In [105]:
d_mdf = d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [106]:
d_mdf

1               scandal bohemia!
2             red-headed league,
3                 case, identity
4        boscombe valley mystery
5               five orange pips
6          man with? twisted lip
7       adventure blue carbuncle
8        adventure speckled band
9     adventure engineer's thumb
10      adventure noble bachelor
11       adventure beryl coronet
12      adventure copper beeches
Name: hikayeler, dtype: object

# Az Geçen Kelemelerin Silinmesi

In [107]:
type(d_mdf)

pandas.core.series.Series

In [108]:
d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [110]:
pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()

adventure     6
scandal       1
lip           1
copper        1
coronet       1
beryl         1
bachelor      1
noble         1
thumb         1
engineer's    1
band          1
speckled      1
carbuncle     1
blue          1
twisted       1
bohemia!      1
with?         1
man           1
pips          1
orange        1
five          1
mystery       1
valley        1
boscombe      1
identity      1
case,         1
league,       1
red-headed    1
beeches       1
dtype: int64

In [111]:
sil = pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()[-3:]

In [112]:
sil

league,       1
red-headed    1
beeches       1
dtype: int64

In [124]:
d_mdf["hikayeler"].apply(lambda x: " ".join(i for i in x.split() if i not in sil))

1               scandal bohemia!
2
3                 case, identity
4        boscombe valley mystery
5               five orange pips
6          man with? twisted lip
7       adventure blue carbuncle
8        adventure speckled band
9     adventure engineer's thumb
10      adventure noble bachelor
11       adventure beryl coronet
12              adventure copper
Name: hikayeler, dtype: object

# Tokenization

In [114]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\90538\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [115]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     -------------------------------------- 636.8/636.8 kB 2.2 MB/s eta 0:00:00
Requirement already satisfied: nltk>=3.1 in c:\users\90538\anaconda3\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: click in c:\users\90538\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: tqdm in c:\users\90538\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: joblib in c:\users\90538\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\90538\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.7.9)
Requirement already satisfied: colorama in c:\users\90538\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.5)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [116]:
import textblob

In [118]:
from textblob import TextBlob

In [119]:
TextBlob(d_mdf["hikayeler"][1])

TextBlob("scandal bohemia!")

In [120]:
TextBlob(d_mdf["hikayeler"][1]).words

WordList(['scandal', 'bohemia'])

In [121]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).words)

1                   [scandal, bohemia]
2                 [red-headed, league]
3                     [case, identity]
4          [boscombe, valley, mystery]
5                 [five, orange, pips]
6            [man, with, twisted, lip]
7         [adventure, blue, carbuncle]
8          [adventure, speckled, band]
9     [adventure, engineer, 's, thumb]
10        [adventure, noble, bachelor]
11         [adventure, beryl, coronet]
12        [adventure, copper, beeches]
Name: hikayeler, dtype: object

# Stemming

In [122]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [123]:
d_mdf["hikayeler"].apply(lambda x: " ".join([st.stem(i) for i in x.split()]))

1             scandal bohemia!
2             red-head league,
3                  case, ident
4       boscomb valley mysteri
5               five orang pip
6          man with? twist lip
7       adventur blue carbuncl
8         adventur speckl band
9     adventur engineer' thumb
10      adventur nobl bachelor
11      adventur beryl coronet
12       adventur copper beech
Name: hikayeler, dtype: object

# Lemmatization

In [130]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\90538\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [132]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\90538\AppData\Roaming\nltk_data...

True

In [133]:
d_mdf["hikayeler"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

1               scandal bohemia!
2             red-headed league,
3                 case, identity
4        boscombe valley mystery
5                five orange pip
6          man with? twisted lip
7       adventure blue carbuncle
8        adventure speckled band
9     adventure engineer's thumb
10      adventure noble bachelor
11       adventure beryl coronet
12        adventure copper beech
Name: hikayeler, dtype: object

In [134]:
mdf["hikayeler"][0:5]

1        A Scandal in Bohemia! 01
2         The Red-headed League,2
3          A Case, of Identity 33
4    The Boscombe Valley Mystery4
5           The Five Orange Pips1
Name: hikayeler, dtype: object

In [135]:
d_mdf["hikayeler"][0:5]

1           scandal bohemia!
2         red-headed league,
3             case, identity
4    boscombe valley mystery
5           five orange pips
Name: hikayeler, dtype: object

# NLP Uygulamaları

## N-Gram

In [136]:
a = """Bu örneği anlaşılabilmesi için daha uzun bir metin üzerinden göstereceğim.
N-gram'lar birlikte kullanılan kelimelerin kombinasyolarını gösterir"""

In [137]:
TextBlob(a).ngrams(3)

[WordList(['Bu', 'örneği', 'anlaşılabilmesi']),
 WordList(['örneği', 'anlaşılabilmesi', 'için']),
 WordList(['anlaşılabilmesi', 'için', 'daha']),
 WordList(['için', 'daha', 'uzun']),
 WordList(['daha', 'uzun', 'bir']),
 WordList(['uzun', 'bir', 'metin']),
 WordList(['bir', 'metin', 'üzerinden']),
 WordList(['metin', 'üzerinden', 'göstereceğim']),
 WordList(['üzerinden', 'göstereceğim', "N-gram'lar"]),
 WordList(['göstereceğim', "N-gram'lar", 'birlikte']),
 WordList(["N-gram'lar", 'birlikte', 'kullanılan']),
 WordList(['birlikte', 'kullanılan', 'kelimelerin']),
 WordList(['kullanılan', 'kelimelerin', 'kombinasyolarını']),
 WordList(['kelimelerin', 'kombinasyolarını', 'gösterir'])]

## Part of speech tagging (POS)

In [138]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\90538\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [140]:
TextBlob(d_mdf["hikayeler"][3]).tags

[('case', 'NN'), ('identity', 'NN')]

In [141]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

1                        [(scandal, NN), (bohemia, NN)]
2                      [(red-headed, JJ), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6     [(man, NN), (with, IN), (twisted, VBN), (lip, ...
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineer, NN), ('s, POS), (...
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: hikayeler, dtype: object

## Chunking (shallow parsing)

In [142]:
pos = d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

In [143]:
pos

1                        [(scandal, NN), (bohemia, NN)]
2                      [(red-headed, JJ), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6     [(man, NN), (with, IN), (twisted, VBN), (lip, ...
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineer, NN), ('s, POS), (...
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: hikayeler, dtype: object

In [144]:
cumle = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task"

In [145]:
pos = TextBlob(cumle).tags

In [146]:
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientists', 'NNS'),
 ('who', 'WP'),
 ('eager', 'VBP'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [147]:
reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)

In [148]:
sonuclar = rp.parse(pos)

In [149]:
sonuclar

ModuleNotFoundError: No module named 'svgling'

Tree('S', [('R', 'NNP'), ('and', 'CC'), ('Python', 'NNP'), ('are', 'VBP'), ('useful', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), ('tools', 'NNS'), ('for', 'IN'), ('the', 'DT'), ('new', 'JJ'), ('or', 'CC'), ('old', 'JJ'), ('data', 'NNS'), ('scientists', 'NNS'), ('who', 'WP'), ('eager', 'VBP'), ('to', 'TO'), ('do', 'VB'), ('efficent', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), Tree('NP', [('task', 'NN')])])

In [150]:
print(sonuclar)

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  scientists/NNS
  who/WP
  eager/VBP
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN)
  (NP task/NN))

In [151]:
sonuclar.draw()

## Named Entity Recognition

In [152]:
from nltk import word_tokenize, pos_tag, ne_chunk
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\90538\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker.zip.
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\90538\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\words.zip.

True

In [153]:
cumle = "Hadley is creative people who work for R Studio AND he attented conference at Newyork last year"
print(ne_chunk(pos_tag(word_tokenize(cumle))))

(S
  (GPE Hadley/NNP)
  is/VBZ
  creative/JJ
  people/NNS
  who/WP
  work/VBP
  for/IN
  (ORGANIZATION R/NNP Studio/NNP)
  AND/CC
  he/PRP
  attented/VBD
  conference/NN
  at/IN
  (ORGANIZATION Newyork/NNP)
  last/JJ
  year/NN)

# Matematiksel İşlemler ve Basit Özellik Çıkarımı

## Harf/Karakter Sayısı

In [159]:
o_df = d_mdf.copy()

In [160]:
o_df["hikayeler"]

1               scandal bohemia!
2             red-headed league,
3                 case, identity
4        boscombe valley mystery
5               five orange pips
6          man with? twisted lip
7       adventure blue carbuncle
8        adventure speckled band
9     adventure engineer's thumb
10      adventure noble bachelor
11       adventure beryl coronet
12      adventure copper beeches
Name: hikayeler, dtype: object

In [161]:
o_df["hikayeler"].str.len()

1     16
2     18
3     14
4     23
5     16
6     21
7     24
8     23
9     26
10    24
11    23
12    24
Name: hikayeler, dtype: int64

In [162]:
o_df["harf_sayisi"] = o_df["hikayeler"].str.len()

In [163]:
o_df

                     hikayeler  harf_sayisi
1             scandal bohemia!           16
2           red-headed league,           18
3               case, identity           14
4      boscombe valley mystery           23
5             five orange pips           16
6        man with? twisted lip           21
7     adventure blue carbuncle           24
8      adventure speckled band           23
9   adventure engineer's thumb           26
10    adventure noble bachelor           24
11     adventure beryl coronet           23
12    adventure copper beeches           24

## Kelime Sayısı

In [168]:
a = "boscombe valley mystery"

In [169]:
a.split()

['boscombe', 'valley', 'mystery']

In [170]:
len(a.split())

3

In [172]:
o_df.iloc[0:1,0:1]

          hikayeler
1  scandal bohemia!

In [173]:
o_df.apply(lambda x: len(str(x).split(" ")))

hikayeler      143
harf_sayisi     61
dtype: int64

In [174]:
o_df["hikayeler"].apply(lambda x: len(str(x).split(" ")))

1     2
2     2
3     2
4     3
5     3
6     4
7     3
8     3
9     3
10    3
11    3
12    3
Name: hikayeler, dtype: int64

In [175]:
o_df["kelime_sayisi"] = o_df["hikayeler"].apply(lambda x: len(str(x).split(" ")))

In [176]:
o_df

                     hikayeler  harf_sayisi  kelime_sayisi
1             scandal bohemia!           16              2
2           red-headed league,           18              2
3               case, identity           14              2
4      boscombe valley mystery           23              3
5             five orange pips           16              3
6        man with? twisted lip           21              4
7     adventure blue carbuncle           24              3
8      adventure speckled band           23              3
9   adventure engineer's thumb           26              3
10    adventure noble bachelor           24              3
11     adventure beryl coronet           23              3
12    adventure copper beeches           24              3

## Özel Karakterleri Yakalamak&Saydırmak

In [177]:
o_df["hikayeler"].apply(lambda x: len([x for x in x.split() if x.startswith("adventure")]))

1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
Name: hikayeler, dtype: int64

In [178]:
o_df["ozel_karakter_sayisi"] = o_df["hikayeler"].apply(lambda x: len([x for x in x.split() if x.startswith("adventure")]))

In [179]:
o_df

,hikayeler,harf_sayisi,kelime_sayisi,ozel_karakter_sayisi
1,scandal bohemia!,16,2,0
2,"red-headed league,",18,2,0
3,"case, identity",14,2,0
4,boscombe valley mystery,23,3,0
5,five orange pips,16,3,0
6,man with? twisted lip,21,4,0
7,adventure blue carbuncle,24,3,1
8,adventure speckled band,23,3,1
9,adventure engineer's thumb,26,3,1
10,adventure noble bachelor,24,3,1
11,adventure beryl coronet,23,3,1
12,adventure copper beeches,24,3,1

## Sayıları Yakalamak & Saydırmak

In [181]:
mdf["hikayeler"].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

1     1
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: hikayeler, dtype: int64

In [182]:
o_df["sayi_sayisi"] = mdf["hikayeler"].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

In [183]:
o_df

,hikayeler,harf_sayisi,kelime_sayisi,ozel_karakter_sayisi,sayi_sayisi
1,scandal bohemia!,16,2,0,1
2,"red-headed league,",18,2,0,0
3,"case, identity",14,2,0,1
4,boscombe valley mystery,23,3,0,0
5,five orange pips,16,3,0,0
6,man with? twisted lip,21,4,0,0
7,adventure blue carbuncle,24,3,1,0
8,adventure speckled band,23,3,1,0
9,adventure engineer's thumb,26,3,1,0
10,adventure noble bachelor,24,3,1,0
11,adventure beryl coronet,23,3,1,0
12,adventure copper beeches,24,3,1,0